@media only screen and (min-width:64rem) {
    header,
    main,
    nav,
    footer {
        max-width: 800px;
        margin: 0 auto;
    }

    .hamburguer {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
    }

    #cards{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #cards div img{
        width:100%;
        height:auto;
    }

    #cards div p,
    #cards div address{
        font-size: small;
    }
}