@media only screen and (min-width:38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 800px;
        margin: 0 auto;
    }

    .hamburguer {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
    }

    #cards div {
        grid-template-areas:
            "name "
            "photograph description"
            "photograph location";
    }

    #cards div img {
        width: 300px;
        height: 200px;
        grid-area: photograph;
    }
}