* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #63728E;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color: #63728E;
}

.hamburguer {
    background: none;
    border: none;
    color: #63728E;
    cursor: pointer
}

.hamburguer::before {
    content: "\2630";
}

.hamburguer.show::before {
    content: "\00D7"
}

.navigation {
    display: none;
    background-color: #f7e7ce96;
}

.navigation.show {
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #373f4e;
    text-align: center;
    padding: 1rem;
    display: block;
    font-weight: bold
}

a:hover {
    text-decoration: overline;
}

.active {
    color: #6A2B3F;
}

footer {
    background-color: #f7e7ce96;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    column-gap: 12px;
    justify-content: center;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #63728e54 solid 1px;
    width: 15px;
    height: 15px;
    border-radius: 6px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #f7e7ce;
}

main {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 700px;
}

.menu {
    display: none;
}

#cards div{
    margin: 1rem 8px;
    border-radius: 10px;
    padding:.5rem 0;
    overflow: hidden;
    min-width: 250px;
    background-color: #9399a391;
    border:1px solid #6A2B3F;
    display:grid;
    grid-template-areas:
    "name"
    "photograph"
    "description"
    "location" ;
}

#cards div h2{
    margin:1rem 10px;
    grid-area: name;
    text-align: center;
    background-color: #373f4e;
    color:#f7e7ce;
    border-radius: 20px 0 20px 0;
    padding:5px;
}

#cards div p{
    margin:1rem 10px;
    grid-area: description;
}

#cards div img{
    width:100%;
    height: auto;
    grid-area:photograph;
}

#cards div img:hover {
    box-shadow: 0 0 50px #333;
}

#cards div address{
    margin:1rem 10px;
    grid-area: location;
}

#cards div button{
    background-color: #373f4ec0;
    color: white;
    padding: .2rem;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 17px;
    width:90%;
    align-items: center;
}

