* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #63728E;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color: #63728E;
}

.hamburguer {
    background: none;
    border: none;
    color: #63728E;
    cursor: pointer
}

.hamburguer::before {
    content: "\2630";
}

.hamburguer.show::before {
    content: "\00D7"
}

.navigation {
    display: none;
    background-color: #f7e7ce96;
}

.navigation.show {
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #373f4e;
    text-align: center;
    padding: 1rem;
    display: block;
    font-weight: bold
}

a:hover {
    text-decoration: overline;
}

.active {
    color: #6A2B3F;
}

footer {
    background-color: #f7e7ce96;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    column-gap: 12px;
    justify-content: center;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #63728e54 solid 1px;
    width: 15px;
    height: 15px;
    border-radius: 6px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #f7e7ce;
}

main {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 700px;
}

.menu {
    display: none;
}

section {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.301);
    padding: 0.7rem;
    margin: 0.1rem;
    text-align: center;
    height: 13rem;
}

img {
    width: auto;
    height: 110px;
}

.website {
    color: #0000FF;
    text-decoration: underline;
}

h1 {
    color: #63728E;
    font-size: x-large;
}

.hero{
    position:relative;
    display:block;
    margin: 0 auto;
    padding: 0rem;
    max-width: 800px;
}

#hero-image {
    width: 100%;
    height: auto;
    display:block;
}

#join{
    position:absolute;
    bottom:20px;
    right:20px; 
    padding:1rem;
    z-index: 10;
    font-size: 1rem;
    background-color: #373f4e;
    border:2px solid #f7e7ce;
    color:#f7e7ce;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

#join:hover{
    background-color: #6A2B3F;
}

.events,
.weather,
#forecast {
    border: 1px solid black;
    background-color: #373f4e49;
    border-radius: 10px;
    text-align: center;
    margin: .5rem;

}

.weather {
    display: grid;
    grid-template-columns: auto auto;
}

h2 {
    color: #f7e7ce;
    margin: .3rem;
    background-color: #373f4e;
    border-radius: 10px;
    grid-column: span 2;
}

#current {
    display: grid;
    flex-direction: column;
    text-align: left;
}

#figure {
    display: grid;
    justify-content: center;
    grid-template-columns: 120px auto;
}

#description{
    text-transform: capitalize;
}

#current-temp,
#today,
#wednesday,
#thursday{
    font-weight: bold;
    font-size: 1.2rem;
}

.events{
    height:100px;
}
