* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #63728E;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color: #63728E;
}

.hamburguer {
    background: none;
    border: none;
    color: #63728E;
    cursor: pointer
}

.hamburguer::before {
    content: "\2630";
}

.hamburguer.show::before {
    content: "\00D7"
}

.navigation {
    display: none;
    background-color: #f7e7ce96;
}

.navigation.show {
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #373f4e;
    text-align: center;
    padding: 1rem;
    display: block;
    font-weight: bold
}

a:hover {
    text-decoration: overline;
}

.active {
    color: #6A2B3F;
}

footer {
    background-color: #f7e7ce96;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    column-gap: 12px;
    justify-content: center;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #63728e54 solid 1px;
    width: 15px;
    height: 15px;
    border-radius: 6px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #f7e7ce;
}

.radio{
    display:grid;
}

.radio label{
    background-color: #9399a3;
    color:black;
    margin:5px;
    padding:.5rem;
    border-radius: 0 20px 0 20px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:.3rem;
}

.radio button {
    width: 100px;
    background-color: #373f4e;
    color: white;
    padding: .2rem;
    border: 1px solid white;
    border-radius: 5px;
}

#submit{
    background-color: #373f4e;
    width:100%;
    max-width: 400px;
    padding:.7rem;
    color:white;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.301);
}

form{
    background-color: #f7e7ce96;
    margin:2rem;
    padding:.3rem
}
h1{
    margin-left:2rem;
    color: #373f4e;
}

fieldset{
    border:none;
    margin:1rem 0;
    font-size: 18px;
}

legend{
    color:#373f4e;
}

input{
    border-left: 4px solid #6A2B3F;
    width:100%;
    max-width: 400px;
    border-radius: 5px;
}

label{
    max-width: 400px;
}

label [type="textarea"]{
    height:3rem;
}

dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #ffffff94;
    box-shadow: 0 0 3rem #777;
    width: 80%;
    margin:auto;
    text-align: center;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.589);
}

dialog button {
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.788);
    cursor: pointer;
}
    

#dialogBox{
    padding: 1em;
    max-width: 40ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / 30%);
    line-height: 1.5;
}

dialog[open] {
    background-color: #373f4e;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 0.1);
}