* {
    font-family: "Roboto", sans-serif;
}

h1{
    color:#6A2B3F;
}

h2{
    color:#63728E;
}

.information{
    max-width: 400px;
    padding:1rem;
    background-color: #f7e7ce96;
    border: 2px solid #63728E;
    border-radius: 10px;
} 