@media only screen and (min-width:38rem) {
    #hero-image {
        width: 100%;
        height: auto;
    }

    header,
    main,
    nav,
    footer {
        max-width: 800px;
        margin: 0 auto;
    }

    .hamburguer {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
    }

    section {
        font-size: 0.75rem;
    }

    .section {
        display: grid;
        grid-template-columns: auto auto;
    }

    #cardsHome,
    #cardsReceipts {
        max-width: 800px;
        margin: auto;
    }

    #cardsHome div,
    #cardsReceipts div {
        grid-template-columns: auto auto;
        column-gap: 1rem;
        grid-template-areas:
        "title title"
        "photograph description"
    }

    #cardsHome div img,
    #cardsReceipts div img {
        width: 100%;
        height: auto;
        grid-area: photograph;
    }

    /* #cardsHome div p,
    #cardsReceipts div p {
        margin-left: 2rem;
        background-color: aqua;
    } */
}