* {
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #40332B;
}

h2 {
    color: #344E41;
}

.information {
    max-width: 400px;
    padding: 1rem;
    background-color: #f7e7ce96;
    border: 2px solid #344E41;
    border-radius: 10px;
}