 :root {
    ---primary-color: #63728E;
    ---secondary-color: #f7e7ce;
    ---third-color: #6A2B3F;
} 

*{
    font-family:"Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #63728E;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color: #63728E;
}

.hamburguer {
    background: none;
    border: none;
    color: #63728E;
    cursor: pointer
}

.hamburguer::before {
    content: "\2630";
}

.hamburguer.show::before {
    content: "\00D7"
}

.navigation {
    display: none;
    background-color: #f7e7ce96;
    height: 35px;
    
}

.navigation.show {
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #373f4e;
    text-align: center;
    padding: 1rem;
    display: block;
    font-weight: bold;
    font-size: smaller;
}

a:hover {
    text-decoration: overline;
}

.active {
    color: #6A2B3F;
}

footer {
    background-color: #f7e7ce96;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    column-gap: 12px;
    justify-content: center;
}

.social a {
    display:flex;
    justify-content: center;
    align-items: center;
    border: #63728e54 solid 1px;
    width: 15px;
    height: 15px;
    border-radius: 6px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #f7e7ce;
}

main{
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 700px;
}

h1{
    margin:5px;
    color:#63728E
}

h2{
    color:#63728E;
    text-align: center;
    padding:.3rem;
    margin:0;
    border-bottom: 1px solid #63728E;
}

section{
    border-top: solid 14px white; 
}

.first,
.second{
    background-color: #f7e7ce96;
    border-bottom: 10px solid white;
    border: #63728E solid 1px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 5px;
}

#text{
    margin: 0;
    padding:.5rem;
}

.second{
    text-align: center;
}

section img{
    width: 150px;
    height:auto;
    padding:.7rem;
    border-radius: 15px;
}

.certificateType{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
}

.certificateType p{
    background-color: #63728E;
    color:white;
    border-radius: 6px;
    justify-content: center;
    padding:.6rem;
    text-align: center;
    border:solid 1px black;
    margin: 5px 0;
}

.certificateType{
    margin: 2px 0;
}

button{
    background-color: #f7e7ce;
    color: white;
    background: radial-gradient(#6A2B3F, #f7e7ce);
    padding:.3rem;
    text-align: center;
    border: solid 1px black;
    margin: 5px 0;
    border-radius: 10px 0px 10px 0px;
}

.courseCard.incomplete,
.courseCard.completed {
    color: white;
    padding: .3rem;
    text-align: center;
    border: solid 1px black;
    margin: 5px 0;
}

.courseCard.completed{
    background-Color:#6a2b3fe7;
    border-radius: 5px;
}

.courseCard.incomplete{
    background-color: #63728ed0;
    border-radius: 5px;
}

#courses{
    background-color: #f7e7ce96;
    color:#63728E;
    border: solid 1px #63728E; 
    border-radius: 5px;
}

dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
}

