@media only screen and (min-width:38rem) {
    header,
    main,
    nav,
    footer {
        max-width:800px;
        margin: 0 auto;
    }

    .hamburguer {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content:space-around;
    }

    .container{
        display:grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
    }

    .certificateName {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 15px;
    }
}
